@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.theme-dark {
    --background: #202124;
    --card: #2b2c31;
    --text: #d1d4dc;
    --accent: #74daff;
    --card-shadow: 0px 2px 16px -2px #18181d;
    --light-shadow: 0px 0px 16px rgba(0, 0, 0, .75);
}

.theme-light {
    --background: #d0d2d8;
    --card: #e7e8ee;
    --text: #6b6e70;
    --accent: #1F3EF9;
    --card-shadow: 0px 2px 24px -4px #b9c0ce;
    --light-shadow: 0px 0px 6px rgb(186, 210, 255);
}

:root {
    /* brand colors */
    --discord: #6d88e1;
    --stack-overflow: #ff9845;
    --twitter: #52A8E7;
    --spotify: #25ee57;
    --steam: #5c6872;
    --xbox: #1e9e1b;
    /* card settings */
    --main-height: fit-content;
    --main-width: 250px;
    --card-radius: 24px;
    --card-padding: 40px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    zoom: 120%;
}

html,
body {
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

/* card */
.main {
    width: 100%;
    height: 100%;
    background: var(--background);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
}

* {
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease;
}

.content {
    -webkit-transition: .8s ease-out;
    -o-transition: .8s ease-out;
    -moz-transition: .8s ease-out;
    transition: .8s ease-out;
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

.card {
    background: var(--card);
    height: var(--main-height);
    width: var(--main-width);
    margin: 0px 80px;
    padding: 24px var(--card-padding);
    -webkit-border-radius: var(--card-radius);
    -moz-border-radius: var(--card-radius);
    border-radius: var(--card-radius);
    -webkit-box-shadow: var(--card-shadow);
    -moz-box-shadow: var(--card-shadow);
    box-shadow: var(--card-shadow);
}

/* text color */
p {
    color: var(--text);
}

/* header */
.image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pp img {
    display: block;
    height: 80px;
    width: 80px;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 2px;
}

.location {
    font-size: 12px;
    margin-top: -6px;
}

.location-icon {
    font-size: 10px;
    margin-right: 2px;
}

.name {
    font-size: 20px;
    font-weight: 500;
}

header {
    text-align: center;
    line-height: 0;
    margin: 28px 0;
}

/* about */

.about {
    text-align: center;
    padding-bottom: 4px;
    font-size: 14px;
}

/* icons */

.icon {
    padding: 10px 0px 10px 14px;
    font-size: 16px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--text);
}

.large-icon {
    padding-right: 16px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: var(--text);
}

.large-1 {
    font-size: 37px;
}

.large-2 {
    font-size: 42px;
}

.icon:hover:before,
.large-icon:hover:before {
    opacity: .65;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    -moz-transition: .25s ease;
    transition: .25s ease;
}


.icon:active:before {
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
}

.icon:before,
.large-icon:before {
    -webkit-transition: .45s ease;
    -o-transition: .45s ease;
    -moz-transition: .45s ease;
    transition: .45s ease;
}

/* footer */

.footer-content {
    color: var(--text);
    line-height: 0;
}

footer {
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
    opacity: .33;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

footer:hover {
    opacity: 1;
    -webkit-transition: .33s ease;
    -o-transition: .33s ease;
    -moz-transition: .33s ease;
    transition: .33s ease;
    text-shadow: var(--light-shadow);
}

/* links */

.links {
    padding: 10px 0 22px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

.large-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
}

.icons {
    padding-left: 10px;
    border-left: 2px solid var(--text);
}

/* animations */

@-webkit-keyframes intro {

    0%,
    25% {
        -webkit-border-radius: -webkit-calc(var(--card-radius) / 4);
        border-radius: -webkit-calc(var(--card-radius) / 4);
        border-radius: calc(var(--card-radius) / 4);
        opacity: 0;
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    100% {
        -webkit-border-radius: var(--card-radius);
        border-radius: var(--card-radius);
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);
    }
}

@-moz-keyframes intro {

    0%,
    25% {
        border-radius: -webkit-calc(var(--card-radius) / 4);
        -moz-border-radius: -moz-calc(var(--card-radius) / 4);
        border-radius: calc(var(--card-radius) / 4);
        opacity: 0;
        -webkit-transform: translateY(120px);
        -moz-transform: translateY(120px);
        transform: translateY(120px);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    100% {
        -moz-border-radius: var(--card-radius);
        border-radius: var(--card-radius);
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: var(--card-shadow);
        -moz-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);
    }
}

@-o-keyframes intro {

    0%,
    25% {
        border-radius: -webkit-calc(var(--card-radius) / 4);
        border-radius: calc(var(--card-radius) / 4);
        opacity: 0;
        -webkit-transform: translateY(120px);
        -o-transform: translateY(120px);
        transform: translateY(120px);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    100% {
        border-radius: var(--card-radius);
        opacity: 1;
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);
    }
}

@keyframes intro {

    0%,
    25% {
        -webkit-border-radius: -webkit-calc(var(--card-radius) / 4);
        border-radius: -webkit-calc(var(--card-radius) / 4);
        -moz-border-radius: -moz-calc(var(--card-radius) / 4);
        border-radius: calc(var(--card-radius) / 4);
        opacity: 0;
        -webkit-transform: translateY(120px);
        -moz-transform: translateY(120px);
        -o-transform: translateY(120px);
        transform: translateY(120px);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    100% {
        -webkit-border-radius: var(--card-radius);
        -moz-border-radius: var(--card-radius);
        border-radius: var(--card-radius);
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: var(--card-shadow);
        -moz-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);
    }
}

@-webkit-keyframes content-in {

    0%,
    35% {
        opacity: 0;
        -webkit-transform: translateY(50px) scale(.92);
        transform: translateY(50px) scale(.92);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }
}

@-moz-keyframes content-in {

    0%,
    35% {
        opacity: 0;
        -webkit-transform: translateY(50px) scale(.92);
        -moz-transform: translateY(50px) scale(.92);
        transform: translateY(50px) scale(.92);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }
}

@-o-keyframes content-in {

    0%,
    35% {
        opacity: 0;
        -webkit-transform: translateY(50px) scale(.92);
        -o-transform: translateY(50px) scale(.92);
        transform: translateY(50px) scale(.92);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        -o-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }
}

@keyframes content-in {

    0%,
    35% {
        opacity: 0;
        -webkit-transform: translateY(50px) scale(.92);
        -moz-transform: translateY(50px) scale(.92);
        -o-transform: translateY(50px) scale(.92);
        transform: translateY(50px) scale(.92);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        -o-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }
}

@-webkit-keyframes footer-in {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: scaleX(1.5) translateY(42px);
        -moz-transform: scaleX(1.5) translateY(42px);
        -o-transform: scaleX(1.5) translateY(42px);
        transform: scaleX(1.5) translateY(42px);
    }

    100% {
        opacity: .33;
        -webkit-transform: scaleX(1) translateY(0);
        -moz-transform: scaleX(1) translateY(0);
        -o-transform: scaleX(1) translateY(0);
        transform: scaleX(1) translateY(0);
    }
}

@-moz-keyframes footer-in {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: scaleX(1.5) translateY(42px);
        -moz-transform: scaleX(1.5) translateY(42px);
        -o-transform: scaleX(1.5) translateY(42px);
        transform: scaleX(1.5) translateY(42px);
    }

    100% {
        opacity: .33;
        -webkit-transform: scaleX(1) translateY(0);
        -moz-transform: scaleX(1) translateY(0);
        -o-transform: scaleX(1) translateY(0);
        transform: scaleX(1) translateY(0);
    }
}

@-o-keyframes footer-in {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: scaleX(1.5) translateY(42px);
        -moz-transform: scaleX(1.5) translateY(42px);
        -o-transform: scaleX(1.5) translateY(42px);
        transform: scaleX(1.5) translateY(42px);
    }

    100% {
        opacity: .33;
        -webkit-transform: scaleX(1) translateY(0);
        -moz-transform: scaleX(1) translateY(0);
        -o-transform: scaleX(1) translateY(0);
        transform: scaleX(1) translateY(0);
    }
}

@keyframes footer-in {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: scaleX(1.5) translateY(42px);
        -moz-transform: scaleX(1.5) translateY(42px);
        -o-transform: scaleX(1.5) translateY(42px);
        transform: scaleX(1.5) translateY(42px);
    }

    100% {
        opacity: .33;
        -webkit-transform: scaleX(1) translateY(0);
        -moz-transform: scaleX(1) translateY(0);
        -o-transform: scaleX(1) translateY(0);
        transform: scaleX(1) translateY(0);
    }
}

@-webkit-keyframes theme-button-fade-in {

    0%,
    65% {
        opacity: 0
    }

    100% {
        opacity: .5
    }
}

@-moz-keyframes theme-button-fade-in {

    0%,
    65% {
        opacity: 0
    }

    100% {
        opacity: .5
    }
}

@-o-keyframes theme-button-fade-in {

    0%,
    65% {
        opacity: 0
    }

    100% {
        opacity: .5
    }
}

@keyframes theme-button-fade-in {

    0%,
    65% {
        opacity: 0
    }

    100% {
        opacity: .5
    }
}

.content {
    -webkit-animation: 1.1s content-in;
    -moz-animation: 1.1s content-in;
    -o-animation: 1.1s content-in;
    animation: 1.1s content-in;
}

footer {
    -webkit-animation: 1s footer-in;
    -moz-animation: 1s footer-in;
    -o-animation: 1s footer-in;
    animation: 1s footer-in;
}

.card {
    -webkit-animation: .75s intro;
    -moz-animation: .75s intro;
    -o-animation: .75s intro;
    animation: .75s intro;
}

.theme-switch {
    -webkit-animation: 1.2s theme-button-fade-in;
    -moz-animation: 1.2s theme-button-fade-in;
    -o-animation: 1.2s theme-button-fade-in;
    animation: 1.2s theme-button-fade-in;
}

/* other */
.socials-title {
    opacity: .65;
    font-size: 11px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}

.location {
    opacity: .65;
}

.card {
    z-index: 99;
}

footer {
    z-index: 999;
}

/* links */

.footer-link:hover,
.link:hover {
    text-decoration: none;
    cursor: pointer;
}

.link {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

.link:hover {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    text-decoration: underline;
}

.footer-link,
.link {
    color: var(--accent);
    text-decoration: none;
    position: relative;
}

.footer-link:after {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border-top: .1em solid var(--accent);
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    -webkit-transition: right .25s ease;
    -o-transition: right .25s ease;
    -moz-transition: right .25s ease;
    transition: right .25s ease;
}

.footer-link:hover:after {
    right: 0;
}

/* brand colors */

.fa-steam:active:before {
    color: var(--steam);
    text-shadow: var(--light-shadow);
}

.fa-xbox:active:before {
    color: var(--xbox);
    text-shadow: var(--light-shadow);
}

.fa-stack-overflow:active:before {
    color: var(--stack-overflow);
    text-shadow: var(--light-shadow);
}

.fa-discord:active:before {
    color: var(--discord);
    text-shadow: var(--light-shadow);
}

.fa-spotify:active:before {
    color: var(--spotify);
    text-shadow: var(--light-shadow);
}

.fa-twitter:active:before {
    color: var(--twitter);
    text-shadow: var(--light-shadow);
}



/* theme button */


.theme-switch-container {
    text-align: right;
    height: 0;
    margin-right: -10px;
}

.theme-switch {
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: var(--text);
    cursor: pointer;
    opacity: .65;
    -webkit-transition: .45s ease;
    -o-transition: .45s ease;
    -moz-transition: .45s ease;
    transition: .45s ease;
}

.theme-switch:hover {
    text-shadow: var(--light-shadow);
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    -moz-transition: .2s ease;
    transition: .2s ease;
}

.theme-switch:active {
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
}